BEGIN;

CREATE TABLE "{{table}}"
(
    "id" SERIAL PRIMARY KEY,
    "createdAt" TIMESTAMP WITH TIME ZONE NOT NULL,
    "updatedAt" TIMESTAMP WITH TIME ZONE NOT NULL,
    "name" VARCHAR UNIQUE NOT NULL
);
{{#if useForeign}}
ALTER TABLE "{{referenceTable}}" ADD COLUMN "{{fkColumn}}" INTEGER;

ALTER TABLE "{{referenceTable}}"
    ADD CONSTRAINT {{constraint}}
    FOREIGN KEY ("{{fkColumn}}")
    REFERENCES "{{table}}" (id);
{{/if}}

COMMIT;